<md-card>
  <md-card-header>
    <form action="#" style="width: 100%;">
      <div class="mdl-grid">
        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col">
          <textarea class="mdl-textfield__input" type="text" rows="5" placeholder="今何してる？" maxlength="140"></textarea>
          <label class="mdl-textfield__label"></label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
          <md-select>
            <md-option selected="true">
              aaa
            </md-option>
            <md-option>
              bbb
            </md-option>
          </md-select>
          <button md-raised-button color="primary" style="margin-top:15px;">
            ツイート
          </button>
        </div>
      </div>
    </form>
  </md-card-header>
</md-card>
