<form #f="ngForm" (ngSubmit)="onSubmit(f)" style="width:100%;">
  <div class="content">
    <md-card-title class="sigin-header">
      アカウントを追加する
    </md-card-title>
    <md-list *ngIf="error">
      <p style="color: red;">
        {{error}}
      </p>
    </md-list>
    <md-list>
      <div *ngIf="accountName.errors && (accountName.dirty || accountName.touched)"
           class="alert">
        <div [hidden]="!accountName.errors.required">
          アカウント名を入力してください。
        </div>
        <div [hidden]="!accountName.errors.maxlength">
          アカウント名は50文字以下です。
        </div>
      </div>
    </md-list>
    <md-list class="form-group">
      <div>
        <md-list-item>
          <md-input-container>
            <input name="accountName" class="form-control" ngModel mdInput placeholder="Nickname" #accountName="ngModel" required maxlength="50"/>
          </md-input-container>
        </md-list-item>
      </div>
      <div class="image-input">
        <md-list-item>
          <image-upload
            [max]="100"
            [url]="'/api/images'"
            [headers]="[
    {header: 'Authorization', withCredentials: true}]"
            [buttonCaption]="'プロフィール画像'"
            [dropBoxMessage]="'or ここにドロップ'"
            [extensions]="['jpg','png','gif']"
            (onFileUploadFinish)="avatarUploaded($event)"
          ></image-upload>
        </md-list-item>
      </div>
      <div class="image-input">
        <md-list-item>
          <image-upload
            [max]="100"
            [url]="'/api/images'"
            [headers]="[
    {header: 'Authorization', withCredentials: true}]"
            [buttonCaption]="'背景画像'"
            [dropBoxMessage]="'or ここにドロップ'"
            [extensions]="['jpg','png','gif']"
            (onFileUploadFinish)="backgroundImageUploaded($event)"
          ></image-upload>
        </md-list-item>
      </div>
      <md-list-item>
        <button type="submit" md-raised-button color="primary" [disabled]="!accountName.valid">
          追加
        </button>
      </md-list-item>
    </md-list>
  </div>
</form>
