<md-card>
  <md-card-header>
    <img md-card-avatar src="../../../assets/public/aaa.jpg">
    <md-card-title>{{tweet.accounts[0].accountName}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <p>
      {{tweet.tweetText}}
    </p>
  </md-card-content>
  <div class="mdl-card__menu">
    <button (click)="openDialog()" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">create</i>
    </button>
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">delete_forever</i>
    </button>
  </div>
</md-card>

<dialog class="mdl-dialog">
  <h4 class="mdl-dialog__title">Allow data collection?</h4>
  <div class="mdl-dialog__content">
    <p>
      Allowing us to collect data will let us get you the information you want faster.
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button">Agree</button>
    <button type="button" class="mdl-button close">Disagree</button>
  </div>
</dialog>
