<md-card class="container">
  <div class="content">
    <md-card-title class="sigin-header">
      Yuitterを使ってみよう！
    </md-card-title>
    <md-list *ngIf="error">
      <p style="color: red;">
        {{error}}
      </p>
    </md-list>
    <md-list>
      <div>
        <md-list-item>
          <md-input-container>
            <input mdInput placeholder="Nickname" #accountName="ngModel" [(ngModel)]="account.accountName" name="accountName" required maxlength="50"/>
          </md-input-container>
          <div *ngIf="accountName.errors && (accountName.dirty || accountName.touched)"
               class="alert">
            <div [hidden]="!accountName.errors.required">
              メールアドレスを入力してください。
            </div>
            <div [hidden]="!accountName.errors.maxlength">
              メールアドレスは50文字以下です。
            </div>
          </div>
        </md-list-item>
      </div>
      <div>
        <md-list-item>
          <md-input-container>
            <input mdInput placeholder="Email Address" #emailAddress="ngModel" [(ngModel)]="member.emailAddress" name="emailAddress" required  maxlength="50" style="width:550px;"/>
          </md-input-container>
          <div *ngIf="emailAddress.errors && (emailAddress.dirty || emailAddress.touched)"
               class="alert">
            <div [hidden]="!emailAddress.errors.required">
              メールアドレスを入力してください。
            </div>
            <div [hidden]="!emailAddress.errors.maxlength">
              メールアドレスは50文字以下です。
            </div>
          </div>
        </md-list-item>
      </div>
      <div>
        <md-list-item>
          <md-input-container>
            <input mdInput placeholder="Password" #password="ngModel" [(ngModel)]="member.password" type="password" name="password" required minlength="8"/>
          </md-input-container>
          <div *ngIf="password.errors && (password.dirty || password.touched)"
               class="alert">
            <div [hidden]="!password.errors.required">
              パスワードを入力してください。
            </div>
            <div [hidden]="!password.errors.minlength">
              パスワードは8文字以上必要です。
            </div>
          </div>
        </md-list-item>
      </div>

      <div class="image-input">
        <md-list-item>
          <image-upload
            [max]="100"
            [url]="'/api/images'"
            [headers]="[
    {header: 'Authorization', withCredentials: true}]"
            [buttonCaption]="'プロフィール画像'"
            [dropBoxMessage]="'or ここにドロップ'"
            [extensions]="['jpg','png','gif']"
            (onFileUploadFinish)="avatarUploaded($event)"
          ></image-upload>
        </md-list-item>
      </div>
      <div class="image-input">
        <md-list-item>
          <image-upload
            [max]="100"
            [url]="'/api/images'"
            [headers]="[
    {header: 'Authorization', withCredentials: true}]"
            [buttonCaption]="'背景画像'"
            [dropBoxMessage]="'or ここにドロップ'"
            [extensions]="['jpg','png','gif']"
            (onFileUploadFinish)="backgroundImageUploaded($event)"
          ></image-upload>
        </md-list-item>
      </div>
      <md-list-item>
        <button
          (click)="signUp(accountName.value, emailAddress.value, password.value)"
          [disabled]="!accountName.valid || !emailAddress.valid || !password.valid"
          md-raised-button
          color="primary">
          サインアップ
        </button>
        <a routerLink="/sign-in">or サインイン</a>
      </md-list-item>
    </md-list>
  </div>
</md-card>
