<md-card class="container">
  <div class="content">
    <md-card-title class="sigin-header">
      Yuitterにログイン
    </md-card-title>
    <md-list>
      <div>
        <md-list-item>
          <md-input-container>
            <input mdInput placeholder="Email Address" #emailAddress/>
          </md-input-container>
        </md-list-item>
      </div>
      <div>
        <md-list-item>
          <md-input-container>
            <input mdInput placeholder="Password" #password/>
          </md-input-container>
        </md-list-item>
      </div>
      <md-list-item>
        <button (click)="signIn(emailAddress.value, password.value)"md-raised-button color="primary">
          サインイン
        </button>
        <a routerLink="/">or 新規登録</a>
      </md-list-item>
    </md-list>
  </div>
</md-card>
