<form #f="ngForm" (ngSubmit)="onSubmit(f)" style="width:100%;">
    <div class="mdl-grid">
      <p *ngIf="error" style="color: red;">
        {{error}}
      </p>
      <div class="form-group mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col">
      <textarea name="tweetText" ngModel class="form-control mdl-textfield__input" type="text" rows="5"
                placeholder="どう書き換える？" maxlength="140" required #tweetText="ngModel">
      </textarea>
        <label class="mdl-textfield__label"></label>
      </div>
      <div class=" mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
        <button type="submit" md-raised-button color="primary" style="margin-bottom: 0">
          更新する
        </button>
      </div>
    </div>
</form>
