<div class="account-header">
</div>
<div class="account-navbar">
  <div class="container">
    <div class="account-header--container">
      <!--<div class="mdl-grid" style="width: 50%; margin-left: 0;">-->
      <!--<div *ngIf="tweets" class="account-header&#45;&#45;content">-->
      <!--<span>ツイート</span><br>-->
      <!--<span>{{tweets.length}}</span>-->
      <!--</div>-->
      <!--<div *ngIf="followees" class="account-header&#45;&#45;content">-->
      <!--<span>フォロー</span><br>-->
      <!--<span>{{this.followees.length}}</span>-->
      <!--</div>-->
      <!--<div *ngIf="followers" class="account-header&#45;&#45;content">-->
      <!--<span>フォロワー</span><br>-->
      <!--<span>{{this.followers.length}}</span>-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
<div class="container">
  <div class="account-avatar"></div>
  <div class="account-name"><h4>ゆいと</h4></div>
  <div *ngIf="currentMember" class="time-line">
    <md-tab-group (selectChange)="onLinkClick($event)">
      <md-tab *ngFor="let account of accounts">
        <div>
          <ng-template md-tab-label>
            <span>{{account.accountName}}</span>
          </ng-template>
        </div>
        <app-account-tweet-list [currentAccount]="currentAccount" [currentAccountIds]="currentAccountIds" [account]="account"></app-account-tweet-list>
      </md-tab>
    </md-tab-group>
  </div>
</div>
