<img *ngIf="currentAccount && currentAccount.backgroundImage" src={{currentAccount.backgroundImage}} class="account-header">
<div *ngIf="!(currentAccount && currentAccount.backgroundImage)" class="account-header"></div>
<div class="account-navbar">
  <div class="container">
    <div class="account-header--container">
      <div class="mdl-grid">
        <div *ngIf="tweets" class="account-header--content">
          <span>ツイート</span><br>
          <span>{{tweets.length}}</span>
        </div>
        <div class="account-header--content">
          <span>フォロー</span><br>
          <span>{{this.followeesCount}}</span>
        </div>
        <div class="account-header--content">
          <span>フォロワー</span><br>
          <span>{{this.followersCount}}</span>
        </div>
        <div class="account-header--content" style="margin-left:190px;margin-top:4px;">
          <button (click)="openAccountForm()" md-raised-button color="accent">アカウント追加</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <img *ngIf="currentAccount && currentAccount.avatar" src={{currentAccount.avatar}} class="account-avatar">
  <img *ngIf="!(currentAccount && currentAccount.avatar)" src="/assets/img/default_egg.png" class="account-avatar">
  <div *ngIf="currentAccount" class="account-name">
    <h4>
      {{currentAccount.accountName}}
    </h4>
    <span>
      {{currentMember.emailAddress}}<br>
      さんのマイページ
    </span>
  </div>
  <div *ngIf="currentMember" class="time-line">
    <md-tab-group (selectChange)="onLinkClick($event)">
      <md-tab *ngFor="let account of accounts">
        <div>
          <ng-template md-tab-label>
            <span>{{account.accountName}}</span>
          </ng-template>
        </div>
        <app-account-tweet-list [currentAccount]="currentAccount" [tweets]="tweets" [currentAccountIds]="currentAccountIds"
                                [account]="account"></app-account-tweet-list>
      </md-tab>
    </md-tab-group>
  </div>
</div>
